html body {
    height: 100%;
}

html {
    background: #FCF6F5;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.mobilenav {
    display: none;
}

nav {
    display: flex;
}

.return a {
    font-weight: 700;
    font-size: clamp(2rem, 2.5vw, 14rem);
    padding: clamp(0rem, 1vw, 10rem);
}

header {
      background: #2BAE66;
}

header nav {
  grid-area: header;
  display: flex;
  justify-content: space-between;
    align-items: center;
  width: auto;
  height: 90px;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #FCF6F5;
    font-size: 1.25rem;
    margin-right: 2rem;
}

#close {
    display: none;
}

.my-img img {
    width: 100%;
    /*max-width: 1000px;*/
    height: auto;
}

.my-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

main {
    display: flex;
}

main div {
    flex: 1 1 50%;
}

main .about {
    padding: 2.5% 0% 5% 5%;
}

main .about h1 {
    font-size: clamp(2rem, 4.5vw, 10rem);
    color: #2BAE66;
    margin-bottom: 0;
}

main .about p {
    font-size: clamp(1rem, 1.33vw, 9rem);
    margin: 0;
}

main .about h3 {
    margin-bottom: clamp(1rem, 1.33vh, 9rem);
    margin-top: 2rem;
    font-size: clamp(1rem, 1.33vw, 9rem);
}










/* Maybe's */

@media (max-width: 1300px) {
    header ul li a {
        font-size: 1rem;
    }

}


@media (orientation: portrait) {
    main {
        flex-direction: column;
    }

    main {
    padding: 2.5% 10%;
    }

    main .about {
        padding: 0% 3%;
    }

    main .about p {
    font-size: clamp(1rem, 2vw, 10rem);
    text-align: justify;
    }

    main .about h1 {
    font-size: clamp(2rem, 7vw, 12rem);
    text-align: center;
    margin-bottom: 2.5%;
    margin-top: 2rem;
    }

    .about p span {
        text-align: center;
    }

    main .about h3 {
        text-align: center;
        margin: 0;
        margin-bottom: clamp(1rem, 1vh, 9rem);
        margin-top: 1.5rem;
    }

    .return a {
        padding: -1rem;
    }

}


/*MOBILE*/


@media (max-width: 500px) {
    header .mobilenav {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 0 1.5rem;
        align-items: center;
   
    }

    header {
        position: fixed;
        width: 100%;
    }

    
    header nav {
        display: none;
    }

    header .mobilenav h1 a {
        color: #FCF6F5;
        text-decoration: none;

    }

    #hamburger {
        background-color: transparent;
        border: none;
        color: #FCF6F5;
        font-size: 3rem;
    }

    aside .icons .social-icons {
    gap:2rem;
    }

    main {
        padding-top: 5rem;
    }
    



    /*nav activation*/
    
    .header-active #hamburger {
        display: none;
    }

    .header-active #close {
        display: block;
        position: fixed;
        right: 1rem;
        background-color: transparent;
        border: none;
        color: #2BAE66;
        font-size: 3rem;
        z-index: 1001; /* on top of everything */
    }

    .header-active .mobilenav h1 a{
        color: #2BAE66;
        text-decoration: none;
    }

    .header-active {
        background-color: #FCF6F5;
    }

    .header-active .mobilenav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 1rem 0 1.5rem;
        align-items: center;
        z-index: 999;
        position: fixed;
    }


    .header-active nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FCF6F5;
        transform: none; /* NEW */
    }


    .header-active nav ul li a {
        color: #2BAE66;
        font-weight: 500;
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .header-active nav ul li {
         margin: 1rem 0rem;
    }

    .header-active nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }




    main .about h1 {
    font-size: clamp(2rem, 10vw, 12rem);
    text-align: left;
    margin-bottom: 2.5%;
    margin-top: 2rem;
    }

    .about p span {
        text-align: left;
    }

    main .about h3 {
        text-align: left;
        margin: 0;
        margin-bottom: .5rem;
        margin-top: 1.5rem;
    }

    main .about p {
        text-align: start;
    }

    .my-img {
        padding: 0;
        padding-top: 1.5rem;
    }

    main .about {
        padding: 0;
    }


}


    @media (max-width: 400px) {
        main {
            padding-top: 15vh;
        }

        .my-img {
        padding-top: 2rem;
        }
    }


/*2K SCREENS*/

@media (min-width: 2000px) {

  header ul li a {
    font-size: 1.75rem;
    margin-right: 3rem;
  }


}

/*4K Screens */
@media (min-width: 3840px) {

  header ul li a {
    font-size: 2.5rem;
    margin-right: 5rem;
  }

  header nav {
    height: 10vh;
  }

}



